<div class="main_box">
	<input type="checkbox" id="check">
	<div class="btn_one">
		<label for="check">
			<i class="fas fa-bars"></i>
		</label>
	</div>
	<div class="sidebar_menu bg-secondary">
		<div class="logo">
			<a href="#">logo</a>
		</div>
		<div class="btn_two">
			<label for="check">
				<i class="fas fa-times"></i>
			</label>
		</div>
		<div class="menu">
			<ul>
				<li>
					<a href="{{ path('product_all') }}">
						<i class="fas fa-store"></i>Produits
					</a>
				</li>
				<li>
					<a href="{{ path('service_all') }}">
						<i class="fas fa-sliders-h"></i>Services
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fas fa-phone-volume"></i>Contact
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fas fa-question-circle"></i>À propos
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fas fa-comments"></i>Retours d'informations
					</a>
				</li>
				{% if app.user %}
					<li>
						<a href="#">
							<i class="fas fa-user"></i>Profil
						</a>
					</li>
					<li>
						<a href="{{ path('app_logout') }}">Déconnexion
						</a>
					</li>
				{% else %}
					<li>
						<a href="{{ path('app_login') }}">
							<i class="fas fa-sign-in-alt"></i>Me connecter
						</a>
					</li>
				{% endif %}
				<li>
					<a href="{{ path('cart_show') }}">
						<i class="fas fa-shopping-cart"></i>Panier
						{{ cartService.detailedCartItems|length > 0 ? cartService.detailedCartItems|length }}
					</a>
				</li>
			</ul>
		</div>
		<div class="social_media">
			<a href="#">
				<i class="fab fa-facebook-f"></i>
			</a>
			<a href="#">
				<i class="fab fa-twitter"></i>
			</a>
			<a href="#">
				<i class="fab fa-instagram"></i>
			</a>
		</div>
	</div>
</div>
