{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('sidebar.css')}}">
{% endblock %}

<div class="main_box">
	<div class="bar bg-secondary"></div>
	<section class="container">
		<input type="checkbox" id="check">
		<div class="btn_one">
			<label for="check">
				<i class="fas fa-bars"></i>
			</label>
		</div>
		<div class="sidebar_menu bg-secondary">
			<div class="logo">
				<a href="{{ path('home') }}">Shop</a>
			</div>
			<div class="btn_two">
				<label for="check">
					<i class="fas fa-times"></i>
				</label>
			</div>
			<div class="menu">
				<ul>
					<li>
						{{ include('partials/_search_form.html.twig') }}
					</li>
					{{ include('partials/_links_services_products.html.twig') }}
					<li>
						<a href="#">
							<i class="fas fa-phone-volume"></i>Contact
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fas fa-question-circle"></i>À propos
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fas fa-comments"></i>Retours d'expériences
						</a>
					</li>
					{{ include('partials/_links_user.html.twig') }}
				</ul>
			</div>
			<div class="social_media">
				<a href="#">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="#">
					<i class="fab fa-twitter"></i>
				</a>
				<a href="#">
					<i class="fab fa-instagram"></i>
				</a>
			</div>
		</div>
	</section>
</div>
