{% extends 'base.html.twig' %}

{% block title %}Éditer
	{{service.name}}
{% endblock %}

{% block body %}
	<h3>Éditer
		{{service.name}}
		(id:
		{{service.id}})</h3>
	{{ include('service/_form.html.twig', {edit:true}) }}
	<p class="my-2">
		{{ include('_btn/_btn-back.html.twig', {path:'service_index'}) }}
	</p>
{% endblock %}
