{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('navbar.css')}}">
{% endblock %}
{# {% set navLinkClasses = "nav-link link-white d-inline-block" %}
<div class="bg-secondary w-100 navbar py-0" id="nav">
	<header class="container px-0" id="header" style="min-height:56px">
		<nav class="d-flex justify-content-between align-items-center container" id="navbar-lg">
			<div class="w-30 d-flex">
				<a class="navbar-brand ps-0 {{ navLinkClasses }}" href="{{path('home')}}">LOGO</a>
			</div>
			<div class="w-30 d-flex">
				{{ include('shared/navbar/search-form.html.twig') }}
			</div>
			<div class="w-30 d-flex">
				<ul class="d-flex">
					{% include "shared/navbar/list-link.html.twig" %}
				</ul>
			</div>
		</nav>
		{# <div id="side-bar" class="bg-secondary bg-gradient">
											<div class="toggle-button" id="toggle-button">
												<span></span>
												<span id="close-button"></span>
												<span></span>
											</div>
											<div id="menu">
												<ul class="d-flex flex-column fs-2 bg-secondary bg-gradient vh-100 align-items-end">
													{{ include('shared/navbar/search-form.html.twig', {width:'200'}) }}
													<li class="">
														<a href="{{path('product_all')}}" class="{{ navLinkClasses }}">Produits</a>
													</li>
													<li class="">
														<a href="{{path('service_all')}}" class="{{ navLinkClasses }}">Services</a>
													</li>
													<li>
														<a href="{{path('cart_show')}}" class="{{ navLinkClasses }} pb-0">
															<i class="bi bi-cart me-1"></i>
															{{cartService.detailedCartItems|length > 0 ? cartService.detailedCartItems|length }}
														</a>
													</li>
													{% if app.user %}
														<li>
															<a href="{{ path('purchase_index') }}" class="{{ navLinkClasses }}">Mes commandes</a>
														</li>
														<li>
															<a href="{{path('app_logout')}}" class="{{ navLinkClasses }}">Déconnexion</a>
														</li>
													{% else %}
														<li>
															<a href="{{path('app_login')}}" class="{{ navLinkClasses }}">Connexion</a>
														</li>
														<li>
															<a href="{{path('app_login')}}" class="{{ navLinkClasses }}">Inscription</a>
														</li>
													{% endif %}
												</ul>
											</div> #}
{#</div>
</header></div><nav class="nav bg-secondary"></nav> #}
<div class="wide_bar bg-secondary">
	<ul class="container">
		<li>
			<a href="{{ path('home') }}">Shop</a>
		</li>
		<li>
			{{ include('partials/_search_form.html.twig') }}
		</li>
		{{ include('partials/_links_services_products.html.twig') }}
		{{ include('partials/_links_user.html.twig') }}
	</ul>
</div>
