<li class="nav-item">
	<a href="{{path('product_all')}}" class="{{ navLinkClasses }}">Produits</a>
</li>
<li class="nav-item">
	<a href="{{path('service_all')}}" class="{{ navLinkClasses }}">Services</a>
</li>
<li class="nav-item">
	<a href="{{path('cart_show')}}" class="{{ navLinkClasses }}">
		<i class="bi bi-cart me-1"></i>
		{{cartService.detailedCartItems|length > 0 ? cartService.detailedCartItems|length }}
	</a>
</li>
{% if app.user %}
	<li class="nav-item">
		<a href="{{ path('purchase_index') }}" class="{{ navLinkClasses }}">Mes commandes</a>
	</li>
	<li class="nav-item">
		<a href="{{path('app_logout')}}" class="{{ navLinkClasses }}">Déconnexion</a>
	</li>
{% else %}
	<li class="nav-item">
		<a href="{{path('app_login')}}" class="{{ navLinkClasses }}">Me connecter</a>
	</li>
{% endif %}
