{% extends "base.html.twig" %}

{% block stylesheets %}

	{{ parent() }}

	{{ encore_entry_link_tags('filter') }}

{% endblock %}


{% block javascripts %}

	{{ parent() }}

	{{ encore_entry_script_tags('filter') }}

{% endblock %}


{% block title %}
	Catégorie :
	{{ category.name }}
{% endblock %}

{% block body %}
	<h1 class="">Catégorie :
		{{category.name}}</h1>
	<div class="row">
		{% for product in category.products %}
			<div class="col-auto d-flex g-4">
				<div class="card position-relative border-0" style="width: 18rem;">
					<img src="{{product.mainpicture}}" class="card-img-top rounded-3" alt="Image du produit">
					<div class="card-body d-flex flex-column">
						<a class="h6" href="{{path('product_show', {'category_slug': category.name, 'slug': product.slug})}}">{{product.name}}</a>
						<div class="btn-group btn-group-toggle btn-color-group d-block mt-n2 ml-n22">
							{% for color in colors %}
								<span class="btn rounded-circle p-2 me-2 my-2 bg-{{color}} {{color == 'white'? 'rounded-circle border-gray'}}"></span>
							{% endfor %}
						</div>
						<p class="card-text mb-0">{{product.description|u.truncate(100, '...')}}</p>
						<p class="fw-bold ">{{product.price / 100}}&euro;</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
