{% extends "base.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('filter') }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('filter') }}
{% endblock %}
{% block title %}
	Les produits
{% endblock %}
{% block body %}
	<h3>Les produits</h3>
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
		{% for product in products %}
			<div class="d-flex g-4">
				<div class="card position-relative border-0">
					<img src="{{product.mainpicture}}" class="card-img-top rounded-3" alt="Image du produit">
					<div class="card-body d-flex flex-column">
						<a class="h5" href="{{path('product_show', {'category_slug': product.category.slug, 'slug': product.slug})}}">{{product.name}}</a>
						<div class="btn-group btn-group-toggle btn-color-group d-block mt-n2 ml-n22">
							{% for color in colors %}
								<span class="btn rounded-circle p-2 me-2 my-2 bg-{{color}} {{color == 'white'? 'rounded-circle border-gray'}}"></span>
							{% endfor %}
						</div>
						<p class="card-text mb-0">{{product.description|u.truncate(100, '...')}}</p>
						<p class="fw-bold mb-0">{{product.price / 100}}&euro;</p>
						<p>
							<em>
								<a href="{{path('product_category_show', {'slug': product.category.slug})}}">{{product.category.name}}</a>
							</em>
						</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
{# style="width: 18rem;" #}
