<!DOCTYPE html>
<html lang="fr" class="h-100">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('assets/favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{asset('assets/favicon/favicon-32x32.png')}}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{asset('assets/favicon/favicon-16x16.png')}}">
		<link rel="manifest" href="{{asset('assets/favicon/site.webmanifest')}}">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<title>
			{% if block("title") is empty %}
				Shop
			{% else %}
				{% block title %}{% endblock %}
				| Shop
			{% endif %}
		</title>
		{% block stylesheets %}
			{# <link rel="stylesheet" href="{{ asset('build/app.css') }}"> #}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body class="d-flex flex-column vh-100">
		{{ sidebar() }}
		{{ navbar() }}
		<div class="container" id="content" style="flex: 1 0 auto; margin-top:60px;">
			{{ include("partials/_flashes.html.twig") }}
			{% block body %}{% endblock %}
		</div>
		{% include "shared/_footer.html.twig"%}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
