<!DOCTYPE html>
<html lang="fr" class="h-100">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% if block("title") is empty %}
				Shop
			{% else %}
				{% block title %}{% endblock %}
				| Shop
			{% endif %}
		</title>
		{% block stylesheets %}
			{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/> #}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="{{ asset('sidebar.css') }}">
		{% endblock %}
	</head>
	<body class="d-flex flex-column vh-100">
		{{sidebar()}}
		{# {% include "shared/navbar/_navbar.html.twig"%} #}
		<div class="container " id="content" style="flex: 1 0 auto;">
			{% for rubrique, messages in app.flashes %}
				<div class="alert alert-{{rubrique}}">
					{% for message in messages %}
						<span>{{message}}</span>
					{% endfor %}
				</div>
			{% endfor %}
			{% block body %}{% endblock %}
		</div>
		{% include "shared/_footer.html.twig"%}
		{% block javascripts %}
			{# // <script src="{{asset('navbar.js')}}"></script> #}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
